
.form-group {
    margin-bottom: 1rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    min-height: 150px;
    resize: vertical;
}

button {
    background-color:  #183947;
    ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color:#8fd3f4;
}

.success-message {
    text-align: center;
    color: white;
    font-family: brandon-grot-w01-light, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
}