.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.training-sections-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}


.training-card {
    background: linear-gradient(-20deg, #f0eafb 0%, #fcfced 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    margin-bottom: 20px;
}


 img {
    width: 60%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.equipment-rental {
    grid-column: 1 / -1;
    background: linear-gradient(-20deg, #f0eafb 0%, #fcfced 100%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(65, 50, 100, 0.08);
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .training-sections-wrapper {
        grid-template-columns: 1fr;
    }
}